<html>
<head>
    <title>DJ4E Samples</title>
    <meta name="wa4e" content="0aa1883c6411f7873cb83dacb17b0afc">
</head>
<body>
    <h1>Hello World!</h1>
      You can access the implementation of some of the later projects at
      <a href="https://projects.dj4e.com/" target="_blank">https:/projects.dj4e.com/</a>.
    <p>This sample code is available at
    <a href="https://github.com/csev/dj4e-samples" target="_blank">
    https://github.com/csev/dj4e-samples</a>
    </p>
    <img src= "https://static.independent.co.uk/s3fs-public/thumbnails/image/2017/09/12/11/naturo-monkey-selfie.jpg?w968">
  </body>
</html>
